apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ datadog_agent_configmap_name }}
  namespace: {{ namespace }}
data:
  conf.yaml: |
    {{ lookup('template', './datadog-agent.yml.j2') | indent(4) }}
