---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: {{ arender_previewer_image_pull_secret }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
stringData:
  .dockerconfigjson: |
    {"auths":{
      "{{ arender_previewer_image_pull_host }}":
        {"username":"{{ arender_previewer_image_pull_username }}",
         "password":"{{ arender_previewer_image_pull_password }}",
         "email":"nco@nuxeo.com"
        }
      }
    }
