apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ mongodb_configmap_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    service: {{ app_name }}
    service_class_id: '{{ _apb_service_class_id }}'
    plan_id: '{{ _apb_plan_id }}'
    service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
data:
  mongod.conf: |
{% if configmap is defined and (configmap | from_yaml) %}
{{ configmap | from_yaml | to_nice_yaml(indent=2) | indent(4, true) }}
{% else %}
    # Put mongod.conf configuration here
{% endif %}
