apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ kafka_configmap_name }}
  namespace: {{ namespace }}
data:
  mongod.conf: |
{% if configmap is defined and (configmap | from_yaml) %}
{{ configmap | from_yaml | to_nice_yaml(indent=2) | indent(4, true) }}
{% else %}
    # Put mongod.conf configuration here
{% endif %}
