apiVersion: v1
kind: Service
metadata:
  annotations:
    ## ref: https://github.com/kubernetes/kops/blob/master/dns-controller/pkg/watchers/annotations.go#L21
    dns.alpha.kubernetes.io/internal: "{{ name }}.{{ external_domain }}"
  name: {{ name }}-external-{{ index }}
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
spec:
  type: NodePort
  ports:
    - name: external-broker
      port: {{ external_servicePort }}
      targetPort: {{ external_servicePort }}
      nodePort: {{ external_firstListenerPort + (index | int) }}
      protocol: TCP
  selector:
    app: {{ name }}
    component: {{ component }}
    pod: {{ name }}-{{ index }}