apiVersion: v1
kind: Secret
type: Opaque
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ user_secret_name }}
  namespace: {{ namespace }}
data:
  user: {{ auth_username | b64encode }}
  password: {{ user_password | b64encode }}
