apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  labels:
    app: {{ zookeeper_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ zookeeper_component }}
  name: {{ zookeeper_name }}-headless
  namespace: {{ namespace }}
spec:
  clusterIP: None
  ports:
    - name: client
      port: {{ zookeeper_ports_client_containerPort }}
      protocol: TCP
    - name: election
      port: {{ zookeeper_ports_election_containerPort }}
      protocol: TCP
    - name: server
      port: {{ zookeeper_ports_server_containerPort }}
      protocol: TCP
  selector:
    app: {{ zookeeper_name }}
    component: {{ zookeeper_component }}
