apiVersion: v1
kind: Secret
type: Opaque
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ connect_secret_name }}
  namespace: {{ namespace }}
stringData:
  connect.properties: |-
    NUXEO_STUDIO_PROJECT={{ nuxeoStudioProject }}
    NUXEO_STUDIO_PROJECT_VERSION={{ nuxeoStudioVersion }}
    NUXEO_CONNECT_USERNAME={{ nuxeoConnectUsername }}
    NUXEO_CONNECT_PASSWORD={{ nuxeoConnectPassword }}