apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ nginx_secret_name }}
  namespace: {{ namespace }}
data:
  tls.key: {{ lookup('file', tls_serverkey_path) | b64encode }}
  tls.crt: {{ lookup('file', tls_servercert_path) | b64encode }}
  dhparam: {{ lookup('file', tls_dhparam_path ) | b64encode }}