apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ init_configmap_name }}
  namespace: {{ namespace }}
data:
  init.sh: |
    {{ lookup('file', '../files/init.sh') | indent(4) }}
  nuxeo.conf: |
    {{ lookup('file', '../files/nuxeo.conf') | indent(4) }}
  log4j.xml: |
    {{ lookup('file', '../files/log4j.xml') | indent(4) }}
  interactive-queues-config.xml: |
    {{ lookup('file', interactive_queues_config_path ) | indent(4) }}
  worker-queues-config.xml: |
    {{ lookup('file', worker_queues_config_path ) | indent(4) }}
