apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "false"
{% if serviceAnnotations is defined and (serviceAnnotations | from_yaml) %}
{{ serviceAnnotations | from_yaml | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}  
  name: {{ nuxeo_service_name }}
  namespace: {{ namespace }}
spec:
{% if useExternalLoadBalancer is defined and useExternalLoadBalancer %}
  type: LoadBalancer
{% endif %}  
  selector:
    app: {{ name }}
    component: {{ component }}  
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP