apiVersion: v1
kind: Route
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}  
  name: {{ route_name }}
  namespace: {{ namespace }}
spec:
  host: {{ applicationUrl }}
  to:
    kind: Service
    name: {{ service_name }}
  port:
{% if use_front_ssl_proxy %}
    targetPort: 8443-tcp
{% else  %}
    targetPort: 8080-tcp
{% endif %}
  wildcardPolicy: None
  tls:
    termination: {{ secure_route_tls_termination_type | default("edge")}}
    insecureEdgeTerminationPolicy: Redirect    