apiVersion: v1
kind: Route
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}  
  name: {{ nuxeo_route_name }}
  namespace: {{ namespace }}
spec:
  host: {{ applicationUrl }}
  to:
    kind: Service
    name: {{ nuxeo_service_name }}
  port:
{% if secure_route_tls_termination_type != "edge" %}
    targetPort: 443-tcp
{% elif 
    targetPort: 8080-tcp
{% endif %}
  wildcardPolicy: None
  tls:
    termination: {{ secure_route_tls_termination_type }}
    insecureEdgeTerminationPolicy: Redirect    