<component name="com.nuxeo.cloud.worker.contrib">

  <extension point="queues" target="org.nuxeo.ecm.core.work.service">
{% for queue in disabledQueues %}    
    <queue id="{{ queue }}" processing="false"/>{% endfor %}
  </extension>
</component>