---
apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceBinding
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ item.service_binding_name }}
  namespace: {{ namespace }}
spec:
  instanceRef:
    name: {{ item.service_to_bind }}
  secretName: {{ item.secret_name }}
{% if item.binding_parameters is defined %}
  parameters:
{{ item.binding_parameters | from_yaml | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}
