apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ arender_previewer_dc_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    role: previewer
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
        role: previewer
{% if previewer_podAnnotations is defined and (previewer_podAnnotations | from_yaml) %}
      annotations:
{{ previewer_podAnnotations | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
    spec:
{% if previewer_securityContext is defined and (previewer_securityContext | from_yaml) %}
      previewer_securityContext:
{{ previewer_securityContext | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
      containers:
        - env:
            - name: CATALINA_TMPDIR
              value: /tmp
            - name: renditionHostEnv
              value: 'http://{{ arender_rendition_service_name }}:8761'
          image: {{ arender_previewer_image }}:{{ arender_image_version }}
          imagePullPolicy: "{{ previewer_image_pullPolicy }}"
          name: arender-previewer
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /ARender/
              port: 8080
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources: {{ previewer_resources }}
          volumeMounts:
            - mountPath: /docker-entrypoint-init.d
              name: config-volume
            - mountPath: /tmp
              name: tmp
      volumes:
        - name: config-volume
          configMap:
            defaultMode: 420
            name: {{ arender_previewer_config_name }}
        - name: tmp
          emptyDir: {}
  triggers:
    - type: ConfigChange
