apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    component: {{ component }}
  name: {{ configmap_name }}
  namespace: {{ namespace }}
data:
  elasticsearch.yml: |
    {{ lookup('file', elsasticsearch_conf_path) | indent(4) }}
  log4j2.properties: |
    {{ lookup('file', '../files/log4j2.properties') | indent(4) }}
  pre-stop-hook.sh: |
    {{ lookup('file', '../files/pre-stop-hook.sh') | indent(4) }}