cluster.name: ${CLUSTER_NAME}

node.data: ${NODE_DATA:true}
node.master: ${NODE_MASTER:true}
node.ingest: ${NODE_INGEST:true}
node.name: ${HOSTNAME}

network.host: 0.0.0.0

# see https://github.com/kubernetes/kubernetes/issues/3595
bootstrap.memory_lock: ${BOOTSTRAP_MEMORY_LOCK:false}

{% if clustered %}
discovery:
  zen:
    ping.unicast.hosts: ${DISCOVERY_SERVICE}
    minimum_master_nodes: ${MINIMUM_MASTER_NODES:2}
{% else %}
discovery:
  type: single-node
  zen:
    minimum_master_nodes: 1
{% endif %}


{% if configure_xpack %}
# see https://www.elastic.co/guide/en/x-pack/current/xpack-settings.html
xpack.ml.enabled: ${XPACK_ML_ENABLED:false}
xpack.monitoring.enabled: ${XPACK_MONITORING_ENABLED:false}
xpack.security.enabled: ${XPACK_SECURITY_ENABLED:false}
xpack.watcher.enabled: ${XPACK_WATCHER_ENABLED:false}
{% endif %}

# see https://github.com/elastic/elasticsearch-definitive-guide/pull/679
processors: ${PROCESSORS:}

{% if clustered %}
# avoid split-brain w/ a minimum consensus of two masters plus a data node
gateway.expected_master_nodes: ${EXPECTED_MASTER_NODES:2}
gateway.expected_data_nodes: ${EXPECTED_DATA_NODES:1}
gateway.recover_after_time: ${RECOVER_AFTER_TIME:5m}
gateway.recover_after_master_nodes: ${RECOVER_AFTER_MASTER_NODES:2}
gateway.recover_after_data_nodes: ${RECOVER_AFTER_DATA_NODES:1}
{% endif %}

{% if use_searchguard %}
searchguard:
  nodes_dn:
  - CN=*.svc.cluster.local{{ tls_casubjectDistinguishedNameSuffix |replace("/", ",") }}
  ssl.transport:
      enabled: true
      enable_openssl_if_available: true
      keystore_type: pkcs12
      keystore_filepath: searchguard-ssl/keystore.p12
      keystore_password: changeit
      keystore_alias: searchguardkey
      truststore_type: pkcs12
      truststore_filepath: searchguard-ssl/truststore.p12
      truststore_password: changeit
      enforce_hostname_verification: false
      pemkey_password: changeit
  ssl.http:
      enabled: true
      clientauth_mode: OPTIONAL
      enable_openssl_if_available: true
      keystore_type: pkcs12
      keystore_alias: searchguardkey
      keystore_filepath: searchguard-ssl/keystore.p12
      keystore_password: changeit
      truststore_type: pkcs12
      truststore_filepath: searchguard-ssl/truststore.p12
      truststore_password: changeit
      pemkey_password: changeit
  authcz.admin_dn:
    - "CN=admin,O=nuxeo,C=com"
{% endif %}