---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ kibana_config_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
data:
  kibana.yml: |-
    # Default Kibana configuration from kibana-docker.
    server.name: kibana
    server.host: "0"
    elasticsearch.url: http://{{ elasticsearch_service_name }}
