apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}-proxy
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ app_name }}"}}'
