{
  "project_name":"kibana",
  "namespace": "int-arender-dev",
  "app_name":"kibana",
  "kibana_memory_limit":"256Mi",
  "kibana_image":"docker.elastic.co/kibana/kibana-oss",
  "kibana_image_version":"7.6.1",
  "kibana_storage_plan":"persistent",
  "kibana_secure":true,
  "elasticsearch_label_selector": "component=elasticsearch,app=kibana-elasticsearch"
}
