---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ minio_service_name }}
  namespace: {{ namespace }}
spec:
  ports:
  - name: s3
    port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: {{ app_name }}
  sessionAffinity: None
  type: ClusterIP