---

- name: "Update last operation"
  asb_last_operation:
    description: "0%: Starting"
  when: in_cluster

- name: "Set ARender objects state={{ state }}"
  k8s:
    state: "{{ state }}"
    definition: "{{ lookup('template', item.name) | from_yaml }}"
  when: item.apply | default(True)
  loop:
    - name: arender_previewer_sb.yml.j2
    - name: arender_previewer_pull_secret.yml.j2
      apply: "{{ create_pull_secret }}"
    - name: arender_previewer_pvc.yml.j2
    - name: arender_previewer_dc.yml.j2
    - name: arender_previewer_service.yml.j2
    - name: arender_previewer_config.yml.j2
    - name: arender_previewer_route.yml.j2
    # Previewer does not support autoscaling right now
    # - name: arender_previewer_autoscaling.yml.j2


- name: "Wait for Previewer Deployment to become ready"
  debug:
    msg: "DeploymentConfig ready status: {{ arender_previewer_dc_query }}"
  retries: 20
  delay: 10
  until:
    - arender_previewer_dc_query
  when: state == 'present'

- name: encode bind credentials
  asb_encode_binding:
    fields:
      app_name: "{{ name }}"
      url: "{{ arender_previewer_route_lookup.spec.host  }}"
  when:
    - state == "present"
    - in_cluster

- name: "Update last operation"
  asb_last_operation:
    description: "100%: Cluster objects state={{ state }}"
  when: in_cluster