---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ arender_jni_dc_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    role: rendition-jni
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
        role: rendition-jni
{% if rendition_podAnnotations is defined and (rendition_podAnnotations | from_yaml) %}
      annotations:
{{ rendition_podAnnotations | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
    spec:
      serviceAccountName: {{ arender_rendition_serviceaccount_name }}
{% if rendition_securityContext is defined and (rendition_securityContext | from_yaml) %}
      rendition_securityContext:
{{ rendition_securityContext | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
{% if use_pull_secret %}
      imagePullSecrets:
        - name: {{ arender_rendition_image_pull_secret }}
{% endif %}
      initContainers:
        - name: init-create-log-dir
          image: busybox
          command: ['mkdir', '-m', '770', '-p', '/logs/arender-jni']
          volumeMounts:
          - name: logs
            mountPath: /logs
      containers:
        - command:
            - sh
            - ./entrypoint.sh
            - java
            - '-Dsun.net.inetaddr.ttl=0'
            - '-jar'
            - '-Xmx1g'
            - app.jar
          image: {{ arender_jni_image }}
          imagePullPolicy: {{ arender_jni_image_pullPolicy }}
          name: arender-jni
          readinessProbe:
            failureThreshold: 4
            httpGet:
              path: {{ arender_jni_readiness_probe_path }}
              port: {{ arender_jni_internal_port }}
              scheme: HTTP
            initialDelaySeconds: {{ arender_jni_readiness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_jni_readiness_probe_period_seconds }}
            successThreshold: {{ arender_jni_readiness_probe_success_threshold }}
            timeoutSeconds: {{ arender_jni_readiness_probe_timeout_seconds }}
          livenessProbe:
            httpGet:
              path: {{ arender_jni_liveness_probe_path }}
              port: {{ arender_jni_internal_port }}
            initialDelaySeconds: {{ arender_jni_liveness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_jni_liveness_probe_period_seconds }}
            successThreshold: {{ arender_jni_liveness_probe_success_threshold }}
            timeoutSeconds: {{ arender_jni_liveness_probe_timeout_seconds }}
          env:
          - name: JNI_EUREKA_INSTANCE_HOSTNAME
            value: {{ arender_broker_service_name }}
          - name: JNI_EUREKA_SERVER_PORT
            value: "{{ arender_broker_internal_port }}"
          - name: JNI_EUREKA_INSTANCE_METADATA.MAP_HOST.NAME
            value: {{ arender_jni_service_name }}
          - name: JNI_LOGGING_CONFIG
            value: "/arender/modules/jni-service/config/logback-spring.xml"
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          resources:
{% if arender_jni_resources is defined and (arender_jni_resources | from_yaml) %}
{{ arender_jni_resources | from_yaml | to_nice_yaml(indent=2) | indent(12, true) }}
{% endif %}
          volumeMounts:
          - name: temp
            mountPath: /arender/tmp
          - name: config
            mountPath: /arender/modules/jni-service/config
          - name: logs
            mountPath: /logs
      volumes:
        - name: temp
          persistentVolumeClaim:
            claimName: {{ arender_common_tmp_name }}
        - name: config
          configMap:
            name: {{ arender_jni_log_configmap_name }}
        - name: logs
          persistentVolumeClaim:
            claimName: {{ arender_logs_pvc_name }}
  triggers:
    - type: ConfigChange
