---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ arender_pdfbox_dc_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    role: rendition-pdfbox
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
        role: rendition-pdfbox
    spec:
      serviceAccountName: {{ arender_rendition_serviceaccount_name }}
      imagePullSecrets:
      - name: {{ arender_rendition_image_pull_secret }}
      containers:
        - image: {{ arender_pdfbox_image }}
          imagePullPolicy: {{ arender_pdfbox_image_pullPolicy }}
          name: arender-pdfbox
          readinessProbe:
            failureThreshold: 4
            httpGet:
              path: {{ arender_pdfbox_readiness_probe_path }}
              port: {{ arender_pdfbox_internal_port }}
              scheme: HTTP
            initialDelaySeconds: {{ arender_pdfbox_readiness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_pdfbox_readiness_probe_period_seconds }}
            successThreshold: {{ arender_pdfbox_readiness_probe_success_threshold }}
            timeoutSeconds: {{ arender_pdfbox_readiness_probe_timeout_seconds }}
          livenessProbe:
            httpGet:
              path: {{ arender_pdfbox_liveness_probe_path }}
              port: {{ arender_pdfbox_internal_port }}
            initialDelaySeconds: {{ arender_pdfbox_liveness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_pdfbox_liveness_probe_period_seconds }}
            successThreshold: {{ arender_pdfbox_liveness_probe_success_threshold }}
            timeoutSeconds: {{ arender_pdfbox_liveness_probe_timeout_seconds }}
          env:
          - name: PBX_EUREKA_INSTANCE_HOSTNAME
            value: {{ arender_broker_service_name }}
          - name: PBX_EUREKA_SERVER_PORT
            value: "{{ arender_broker_internal_port }}"
          - name: PBX_EUREKA_INSTANCE_METADATA.MAP_HOST.NAME
            value: {{ arender_pdfbox_service_name }}
          resources:
{% if arender_pdfbox_resources is defined and (arender_pdfbox_resources | from_yaml) %}
{{ arender_pdfbox_resources | from_yaml | to_nice_yaml(indent=2) | indent(12, true) }}
{% endif %}
      volumes:
        - emptyDir: {}
          name: home
  triggers:
    - type: ConfigChange
