---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ arender_hazelcast_service_name }}
  namespace: {{ namespace }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: {{ arender_hazelcast_internal_port }}
  selector:
    app: {{ app_name }}
{% if before_4_4_2 %}
    role: rendition-document-file-storage
{% else %}
    role: rendition-document-service-broker
{% endif %}
