---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ arender_converter_dc_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    role: rendition-converter
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
        role: rendition-converter
{% if rendition_podAnnotations is defined and (rendition_podAnnotations | from_yaml) %}
      annotations:
{{ rendition_podAnnotations | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
    spec:
      serviceAccountName: {{ arender_rendition_serviceaccount_name }}
{% if rendition_securityContext is defined and (rendition_securityContext | from_yaml) %}
      rendition_securityContext:
{{ rendition_securityContext | from_yaml | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
      imagePullSecrets:
      - name: {{ arender_rendition_image_pull_secret }}
      containers:
        - image: {{ arender_converter_image }}
          imagePullPolicy: {{ arender_converter_image_pullPolicy }}
          name: arender-converter
          readinessProbe:
            failureThreshold: 4
            httpGet:
              path: {{ arender_converter_readiness_probe_path }}
              port: {{ arender_converter_internal_port }}
              scheme: HTTP
            initialDelaySeconds: {{ arender_converter_readiness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_converter_readiness_probe_period_seconds }}
            successThreshold: {{ arender_converter_readiness_probe_success_threshold }}
            timeoutSeconds: {{ arender_converter_readiness_probe_timeout_seconds }}
          livenessProbe:
            httpGet:
              path: {{ arender_converter_liveness_probe_path }}
              port: {{ arender_converter_internal_port }}
            initialDelaySeconds: {{ arender_converter_liveness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_converter_liveness_probe_period_seconds }}
            successThreshold: {{ arender_converter_liveness_probe_success_threshold }}
            timeoutSeconds: {{ arender_converter_liveness_probe_timeout_seconds }}
          resources: {{ arender_converter_resources }}
          env:
          - name: TKC_APP_EUREKA_HOSTNAME
            value: {{ arender_broker_service_name }}
          - name: TKC_APP_EUREKA_SERVER_PORT
            value: "{{ arender_broker_internal_port }}"
          - name: TKC_EUREKA_INSTANCE_METADATA.MAP_HOST.NAME
            value: {{ arender_converter_service_name }}
          resources:
{% if arender_converter_resources is defined and (arender_converter_resources | from_yaml) %}
{{ arender_converter_resources | from_yaml | to_nice_yaml(indent=2) | indent(12, true) }}
{% endif %}
      volumes:
        - emptyDir: {}
          name: home
  triggers:
    - type: ConfigChange
