---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ arender_document_text_handler_dc_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  replicas: 1
  selector:
    app: {{ app_name }}
    role: rendition-document-text-handler
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
        role: rendition-document-text-handler
    spec:
      serviceAccountName: {{ arender_rendition_serviceaccount_name }}
{% if use_pull_secret %}
      imagePullSecrets:
        - name: {{ arender_rendition_image_pull_secret }}
{% endif %}
      initContainers:
        - name: init-create-log-dir
          image: public.ecr.aws/e0v6o2x1/busybox
          command: ['mkdir', '-m', '770', '-p', '/logs/arender-document-text-handler']
          volumeMounts:
          - name: logs
            mountPath: /logs
      containers:
        - name: arender-document-text-hanlder
{% if before_4_4_2 %}
          command:
            - sh
            - ./entrypoint.sh
            - java
            - "$(JAVA_OPTS)"
            - '-jar'
            - app.jar
{% endif %}
          image: {{ arender_document_text_handler_image }}
          imagePullPolicy: {{ arender_document_text_handler_image_pullPolicy }}
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - /scripts/pre-stop.sh
          readinessProbe:
            failureThreshold: {{ arender_document_text_handler_readiness_probe_failure_threshold }}
            httpGet:
              path: {{ arender_document_text_handler_readiness_probe_path }}
              port: {{ arender_document_text_handler_internal_port }}
              scheme: HTTP
            initialDelaySeconds: {{ arender_document_text_handler_readiness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_document_text_handler_readiness_probe_period_seconds }}
            successThreshold: {{ arender_document_text_handler_readiness_probe_success_threshold }}
            timeoutSeconds: {{ arender_document_text_handler_readiness_probe_timeout_seconds }}
          livenessProbe:
            httpGet:
              path: {{ arender_document_text_handler_liveness_probe_path }}
              port: {{ arender_document_text_handler_internal_port }}
            initialDelaySeconds: {{ arender_document_text_handler_liveness_probe_initial_delay_secs }}
            periodSeconds: {{ arender_document_text_handler_liveness_probe_period_seconds }}
            successThreshold: {{ arender_document_text_handler_liveness_probe_success_threshold }}
            timeoutSeconds: {{ arender_document_text_handler_liveness_probe_timeout_seconds }}
          env:
          - name: DTH_EUREKA_INSTANCE_HOSTNAME
            value: {{ arender_document_service_broker_service_name }}
          - name: DTH_EUREKA_SERVER_PORT
            value: "{{ arender_document_service_broker_internal_port }}"
          - name: DTH_EUREKA_INSTANCE_METADATA.MAP_HOST.NAME
            value: {{ arender_document_text_handler_service_name }}
          - name: DTH_LOGGING_CONFIG
            value: "/arender/modules/document-text-handler/config/logback-spring.xml"
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: JAVA_OPTS
            value: "{{ arender_document_text_handler_java_opts }}"
          resources:
{% if arender_document_text_handler_resources is defined and (arender_document_text_handler_resources | from_yaml) %}
{{ arender_document_text_handler_resources | from_yaml | to_nice_yaml(indent=2) | indent(12, true) }}
{% endif %}
          volumeMounts:
          - name: temp
            mountPath: /arender/tmp
          - name: config
            mountPath: /arender/modules/document-text-handler/config
          - name: logs
            mountPath: /logs
          - name: scripts
            mountPath: /scripts
      volumes:
        - name: temp
          persistentVolumeClaim:
            claimName: {{ arender_common_tmp_name }}
        - name: config
          configMap:
            name: {{ arender_document_text_handler_log_configmap_name }}
        - name: logs
          persistentVolumeClaim:
            claimName: {{ arender_logs_pvc_name }}
        - name: scripts
          configMap:
            defaultMode: 493
            name: {{ arender_pre_stop_scripts_configmap_name }}
  triggers:
    - type: ConfigChange
