apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ arender_converter_as_name }}
  namespace: {{ namespace }}
  labels:
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
    app: {{ app_name }}
spec:
  maxReplicas: 10
  minReplicas: 2
  scaleTargetRef:
    apiVersion: v1
    kind: DeploymentConfig
    name: {{ arender_converter_dc_name }}
  targetCPUUtilizationPercentage: 80
