apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ arender_hazelcast_configmap_name }}
  namespace: {{ namespace }}
data:
  hazelcast.yaml: |
    hazelcast:
      cluster-name: {{ arender_hazelcast_clustername}}
      network:
        join:
          multicast:
            enabled: false
          kubernetes:
            enabled: true
            service-dns: {{ arender_hazelcast_service_name }}.{{ namespace }}.svc.cluster.local
        port:
          port: {{ arender_hazelcast_internal_port }}
