---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ arender_document_service_broker_service_name }}
  namespace: {{ namespace }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: {{ arender_document_service_broker_external_port }}
      protocol: TCP
      targetPort: {{ arender_document_service_broker_internal_port }}
  selector:
    app: {{ app_name }}
    role: rendition-document-service-broker
  sessionAffinity: None
