---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
    apb_name: '{{ apb_name }}'
    apb_plan_id: '{{ _apb_plan_id }}'
    apb_service_class_id: '{{ _apb_service_class_id }}'
    apb_service_instance_id: '{{ _apb_service_instance_id }}'
  name: {{ arender_pdfbox_service_name }}
  namespace: {{ namespace }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: 8761-tcp
      port: 8761
      protocol: TCP
      targetPort: 8761
  selector:
    app: {{ app_name }}
    role: rendition-pdfbox
  sessionAffinity: None
